## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [3]:
filepath = './DataFrames_sample.json'

In [4]:
df = (spark.read.format('json')
           .option('inferSchema',True)
     .option('header','true')
     .load(filepath))

In [5]:
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [6]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [7]:
df_1 = (df.filter(df['Model']=='MacBook Pro'))
df_1.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [8]:
df.createOrReplaceTempView('DataFrame')

### Display "RAM"column and count "RAM" column:

In [9]:
df_Ram = spark.sql('select RAM,count(RAM) as count from DataFrame group by RAM')
df_Ram.show()

+----+-----+
| RAM|count|
+----+-----+
|64GB|    1|
|16GB|    1|
| 8GB|    2|
+----+-----+

### Get all columns when "Year" column equal "2015"

In [10]:
df_year = spark.sql('select * from DataFrame where Year == 2015')
df_year.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [11]:
df_model = spark.sql('select * from DataFrame where Model like "M%"')
df_model.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [12]:
df_model1 = spark.sql('select * from DataFrame where Model == "MacBook Pro"')
df_model1.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [13]:
df_multiple = spark.sql('select * from DataFrame where RAM == "8GB" and Model == "MacBook"')
df_multiple.show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [14]:
df_multiple1 = spark.sql('select * from DataFrame where D >= "8" and Model == "iMac"')
df_multiple1.show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [17]:
path = './test1.csv'

In [18]:
df = (spark.read.format('csv')
           .option('inferSchema',True)
     .option('header','true')
     .load(path))

### Display Salary of the people less than or equal to 20000

In [19]:
df_salary = (df.filter(df['Salary']<=20000))
df_salary.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [20]:
df_salary1 = (df.filter('Salary<=20000 and Salary>=15000'))
df_salary1.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [21]:
path = './test3.csv'

In [22]:
df = (spark.read.format('csv')
           .option('inferSchema',True)
     .option('header','true')
     .load(path))

### Display dataset

In [23]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [24]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [25]:
X = df.groupBy('Name').sum()
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [26]:
df.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [27]:
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [28]:
df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [29]:
df.groupBy('Name').count().show()

+---------+-----+
|     Name|count|
+---------+-----+
|Sudhanshu|    3|
|    Sunny|    2|
|    Krish|    3|
|   Mahesh|    2|
+---------+-----+

### Apply agg to using sum function get the total of salaries

In [30]:
from pyspark.sql.functions import *

In [31]:
df.agg(sum('salary')).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [32]:
df = (spark.read.format('csv')
           .option('inferSchema',True)
     .option('header','true')
     .load('./ITI_data.csv'))

In [77]:
x_train,x_test = df.randomSplit([0.8,0.2],42)

### OneHotEncoder

In [99]:
import pyspark.sql.functions as F 
import pyspark.sql.types as T
from pyspark.ml.feature import StringIndexer

In [124]:
stringIndexer = StringIndexer(inputCols=['Cruise_line'],outputCols=['Cruise_line_i'],handleInvalid='skip')

In [125]:
from pyspark.ml.feature import OneHotEncoder
oneHotEncoder = OneHotEncoder(inputCols=['Cruise_line_i'],outputCols=['Cruise_line_e'])

In [126]:
x_train.select([F.countDistinct(c) for c in df.columns]).toPandas().T

                                     0
count(DISTINCT Ship_name)          118
count(DISTINCT Cruise_line)         19
count(DISTINCT Age)                 29
count(DISTINCT Tonnage)             83
count(DISTINCT passengers)          89
count(DISTINCT length)              71
count(DISTINCT cabins)              86
count(DISTINCT passenger_density)   94
count(DISTINCT crew)                82

In [127]:
x_train.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ship_name          133 non-null    object
 1   Cruise_line        133 non-null    object
 2   Age                133 non-null    int32
 3   Tonnage            133 non-null    float64
 4   passengers         133 non-null    float64
 5   length             133 non-null    float64
 6   cabins             133 non-null    float64
 7   passenger_density  133 non-null    float64
 8   crew               133 non-null    float64
dtypes: float64(6), int32(1), object(2)
memory usage: 9.0+ KB

### we can ignore ship name as it's almost distinct values

###Use VectorAssembler to merge all columns into one column:

In [128]:
from pyspark.ml.feature import VectorAssembler

In [129]:
x_train.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [130]:
features = ['Cruise_line_e', 'Age', 'Tonnage', 'passengers',
            'length', 'cabins', 'passenger_density']

In [131]:
vecAssem = VectorAssembler(inputCols=features,outputCol='features')

### Create a Linear Regression Model

In [132]:
from pyspark.ml.regression import LinearRegression

In [186]:
lr = LinearRegression(featuresCol='features',labelCol='crew', regParam=0.1)

### Creating a Pipeline

In [187]:
from pyspark.ml import Pipeline

In [188]:
stages = [stringIndexer,oneHotEncoder,vecAssem,lr]
pipeline = Pipeline(stages=stages)

### Model Evaluation

In [189]:
from pyspark.ml.evaluation import RegressionEvaluator

In [190]:
rf_evaluator = RegressionEvaluator(metricName='r2',labelCol='crew',predictionCol='prediction')

In [191]:
pipelineModel = pipeline.fit(x_train)
predDF_train = pipelineModel.transform(x_train)
predDF_test = pipelineModel.transform(x_test)

In [192]:
rf_evaluator.evaluate(predDF_train),rf_evaluator.evaluate(predDF_test)

(0.9360893036730826, 0.9860274010477503)

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566