Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [5]:
import findspark
findspark.init()
from pyspark.sql import *
from pyspark.sql.functions import col,countDistinct,expr,concat,regexp_extract

## Build Spark Session

In [6]:
spark = (SparkSession
         .builder
         .appName('PracticalSession')
         .getOrCreate())

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [3]:
Train_df = spark.read.csv('train.csv',header=True,inferSchema=True)
Test_df  = spark.read.csv('test.csv',header=True,inferSchema=True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [4]:
print(type(Train_df))

<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [5]:
Train_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [6]:
Train_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [7]:
Train_df.summary().toPandas().T

,0,1,2,3,4,5,6,7
summary,count,mean,stddev,min,25%,50%,75%,max
PassengerId,891,446.0,257.3538420152301,1,223,446,669,891
Survived,891,0.3838383838383838,0.48659245426485753,0,0,0,1,1
Pclass,891,2.308641975308642,0.8360712409770491,1,2,3,3,3
Name,891,None,None,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",None,None,None,"van Melkebeke, Mr. Philemon"
Sex,891,None,None,female,None,None,None,male
Age,714,29.69911764705882,14.526497332334035,0.42,20.0,28.0,38.0,80.0
SibSp,891,0.5230078563411896,1.1027434322934315,0,0,0,1,8
Parch,891,0.38159371492704824,0.8060572211299488,0,0,0,0,6
Ticket,891,260318.54916792738,471609.26868834975,110152,19996.0,236171.0,347743.0,WE/P 5735
Fare,891,32.2042079685746,49.69342859718089,0.0,7.8958,14.4542,31.0,512.3292
Cabin,204,None,None,A10,None,None,None,T
Embarked,889,None,None,C,None,None,None,S

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [8]:
Train_df.count()

891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [9]:
Train_df.select('Survived').show()

+--------+
|Survived|
+--------+
|       0|
|       1|
|       1|
|       1|
|       0|
|       0|
|       0|
|       0|
|       1|
|       1|
|       1|
|       1|
|       0|
|       0|
|       0|
|       1|
|       0|
|       1|
|       0|
|       1|
+--------+
only showing top 20 rows

In [10]:

Survived = Train_df.filter(Train_df['Survived']=='1').count()

In [11]:
Not_Survived =Train_df.filter(Train_df['Survived']=='0').count()

**Display your result:**

In [12]:
print('Survived' ,Train_df.filter(Train_df['Survived']=='1').count())
print('Not Survived' ,Train_df.filter(Train_df['Survived']=='0').count())

Survived 342
Not Survived 549

**Can you display your answer in ratio form?(Hint: Use UDF.)**

In [13]:
def ratio(x,a):
    return (x/a)*100

In [14]:
print('Survied ratio ',ratio(Survived,Train_df.count()))
print('Not Survied ratio ',ratio(Not_Survived,Train_df.count()))

Survied ratio  38.38383838383838
Not Survied ratio  61.61616161616161

**Can you get the number of males and females?**

In [15]:
male_num = Train_df.filter(Train_df['Sex']=='male').count()

print('male number is ',male_num)

female_num = Train_df.filter(Train_df['Sex']=='female').count()

print('female number is ',female_num)

male number is  577
female number is  314

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column.)

In [16]:
gender_sur = Train_df.groupBy("Sex","Survived").count().show()
gender_sur

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|female|       1|  233|
|female|       0|   81|
|  male|       1|  109|
+------+--------+-----+

In [17]:
cms = ["Sex","Survived","count"]
data =  [("female", "0","81"),
        ("female", "1","233"),
        ("male", "1","109"),
        ("male","0","468")]
gender_sur = spark.createDataFrame(data=data,schema=cms)
gender_sur.show()

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|female|       0|   81|
|female|       1|  233|
|  male|       1|  109|
|  male|       0|  468|
+------+--------+-----+

**Create temporary view PySpark:**

In [18]:
Train_df.createOrReplaceTempView('Train')

**How many people survived, and how many didn't survive? By SQL:**

In [19]:
Sur_Sql = spark.sql("""SELECT Survived 
          FROM Train 
          WHERE Survived == '1' 
          """).count()
Sur_Sql

342

In [20]:
Not_Sur_Sql = spark.sql("""SELECT Survived 
          FROM Train 
          WHERE Survived == '0' 
          """).count()
Not_Sur_Sql

549

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column.)

**Can you do this via SQL?**

In [21]:
survivors = spark.sql("""SELECT  Sex ,(SUM(Survived)/891)*100
                           FROM Train
                           WHERE Survived == '1'
                           GROUP BY Survived, Sex
                        """).show()
survivors

+------+---------------------------------------------------------------------------------------------+
|   Sex|((CAST(sum(CAST(Survived AS BIGINT)) AS DOUBLE) / CAST(891 AS DOUBLE)) * CAST(100 AS DOUBLE))|
+------+---------------------------------------------------------------------------------------------+
|  male|                                                                             12.2334455667789|
|female|                                                                            26.15039281705948|
+------+---------------------------------------------------------------------------------------------+

**Display a ratio for p-class:**

In [22]:
p_class = spark.sql("""SELECT Pclass,(SUM(Survived) /891)*100
                        FROM Train 
                        WHERE Survived == '1'
                        GROUP BY Survived,Pclass
          """).show()
p_class

+------+---------------------------------------------------------------------------------------------+
|Pclass|((CAST(sum(CAST(Survived AS BIGINT)) AS DOUBLE) / CAST(891 AS DOUBLE)) * CAST(100 AS DOUBLE))|
+------+---------------------------------------------------------------------------------------------+
|     2|                                                                            9.764309764309765|
|     1|                                                                            15.26374859708193|
|     3|                                                                            13.35578002244669|
+------+---------------------------------------------------------------------------------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [23]:
df = Train_df.union(Test_df)

**Display count:**

In [24]:
df.count()

1329

**Temporary view PySpark:**

In [25]:
df.createOrReplaceTempView('Data')

**Can you define the number of null values in each column?**

In [26]:
null_colum = []
for i in df.columns:
    x = df.filter(col(i).isNull()).count()
    null_colum.append((i,x))
    
null_colum

[('PassengerId', 0),
 ('Survived', 0),
 ('Pclass', 0),
 ('Name', 0),
 ('Sex', 0),
 ('Age', 265),
 ('SibSp', 0),
 ('Parch', 0),
 ('Ticket', 0),
 ('Fare', 0),
 ('Cabin', 1021),
 ('Embarked', 3)]

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [27]:
cms=['Column','Number of missing values']

df_null = spark.createDataFrame(data=null_colum,schema=cms)
df_null.show()

+-----------+------------------------+
|     Column|Number of missing values|
+-----------+------------------------+
|PassengerId|                       0|
|   Survived|                       0|
|     Pclass|                       0|
|       Name|                       0|
|        Sex|                       0|
|        Age|                     265|
|      SibSp|                       0|
|      Parch|                       0|
|     Ticket|                       0|
|       Fare|                       0|
|      Cabin|                    1021|
|   Embarked|                       3|
+-----------+------------------------+

## Preprocessing

**Can you show me the name column from your temporary table?**

In [28]:
name = spark.sql("""SELECT Name
                        FROM Data 
                        
          """).show(891,False)
name

+----------------------------------------------------------------------------------+
|Name                                                                              |
+----------------------------------------------------------------------------------+
|Braund, Mr. Owen Harris                                                           |
|Cumings, Mrs. John Bradley (Florence Briggs Thayer)                               |
|Heikkinen, Miss. Laina                                                            |
|Futrelle, Mrs. Jacques Heath (Lily May Peel)                                      |
|Allen, Mr. William Henry                                                          |
|Moran, Mr. James                                                                  |
|McCarthy, Mr. Timothy J                                                           |
|Palsson, Master. Gosta Leonard                                                    |
|Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)                                 |
|Nasser, Mrs. Nicholas (Adele Achem)                                               |
|Sandstrom, Miss. Marguerite Rut                                                   |
|Bonnell, Miss. Elizabeth                                                          |
|Saundercock, Mr. William Henry                                                    |
|Andersson, Mr. Anders Johan                                                       |
|Vestrom, Miss. Hulda Amanda Adolfina                                              |
|Hewlett, Mrs. (Mary D Kingcome)                                                   |
|Rice, Master. Eugene                                                              |
|Williams, Mr. Charles Eugene                                                      |
|Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)                           |
|Masselmani, Mrs. Fatima                                                           |
|Fynney, Mr. Joseph J                                                              |
|Beesley, Mr. Lawrence                                                             |
|"McGowan, Miss. Anna ""Annie"""                                                   |
|Sloper, Mr. William Thompson                                                      |
|Palsson, Miss. Torborg Danira                                                     |
|Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)                         |
|Emir, Mr. Farred Chehab                                                           |
|Fortune, Mr. Charles Alexander                                                    |
|"O'Dwyer, Miss. Ellen ""Nellie"""                                                 |
|Todoroff, Mr. Lalio                                                               |
|Uruchurtu, Don. Manuel E                                                          |
|Spencer, Mrs. William Augustus (Marie Eugenie)                                    |
|Glynn, Miss. Mary Agatha                                                          |
|Wheadon, Mr. Edward H                                                             |
|Meyer, Mr. Edgar Joseph                                                           |
|Holverson, Mr. Alexander Oskar                                                    |
|Mamee, Mr. Hanna                                                                  |
|Cann, Mr. Ernest Charles                                                          |
|Vander Planke, Miss. Augusta Maria                                                |
|Nicola-Yarred, Miss. Jamila                                                       |
|Ahlin, Mrs. Johan (Johanna Persdotter Larsson)                                    |
|Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)                          |
|Kraeff, Mr. Theodor                                                               |
|Laroche, Miss. Simonne Marie Anne Andree                                          |
|Devaney, Miss. Margaret Delia                                                     |
|Rogers, Mr. William John                                                          |
|Lennon, Mr. Denis                                                                 |
|O'Driscoll, Miss. Bridget                                                         |
|Samaan, Mr. Youssef                                                               |
|Arnold-Franchi, Mrs. Josef (Josefine Franchi)                                     |
|Panula, Master. Juha Niilo                                                        |
|Nosworthy, Mr. Richard Cater                                                      |
|Harper, Mrs. Henry Sleeper (Myna Haxtun)                                          |
|Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)                                |
|Ostby, Mr. Engelhart Cornelius                                                    |
|Woolner, Mr. Hugh                                                                 |
|Rugg, Miss. Emily                                                                 |
|Novel, Mr. Mansouer                                                               |
|West, Miss. Constance Mirium                                                      |
|Goodwin, Master. William Frederick                                                |
|Sirayanian, Mr. Orsen                                                             |
|Icard, Miss. Amelie                                                               |
|Harris, Mr. Henry Birkhardt                                                       |
|Skoog, Master. Harald                                                             |
|Stewart, Mr. Albert A                                                             |
|Moubarek, Master. Gerios                                                          |
|Nye, Mrs. (Elizabeth Ramell)                                                      |
|Crease, Mr. Ernest James                                                          |
|Andersson, Miss. Erna Alexandra                                                   |
|Kink, Mr. Vincenz                                                                 |
|Jenkin, Mr. Stephen Curnow                                                        |
|Goodwin, Miss. Lillian Amy                                                        |
|Hood, Mr. Ambrose Jr                                                              |
|Chronopoulos, Mr. Apostolos                                                       |
|Bing, Mr. Lee                                                                     |
|Moen, Mr. Sigurd Hansen                                                           |
|Staneff, Mr. Ivan                                                                 |
|Moutal, Mr. Rahamin Haim                                                          |
|Caldwell, Master. Alden Gates                                                     |
|Dowdell, Miss. Elizabeth                                                          |
|Waelens, Mr. Achille                                                              |
|Sheerlinck, Mr. Jan Baptist                                                       |
|McDermott, Miss. Brigdet Delia                                                    |
|Carrau, Mr. Francisco M                                                           |
|Ilett, Miss. Bertha                                                               |
|Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)                           |
|Ford, Mr. William Neal                                                            |
|Slocovski, Mr. Selman Francis                                                     |
|Fortune, Miss. Mabel Helen                                                        |
|Celotti, Mr. Francesco                                                            |
|Christmann, Mr. Emil                                                              |
|Andreasson, Mr. Paul Edvin                                                        |
|Chaffee, Mr. Herbert Fuller                                                       |
|Dean, Mr. Bertram Frank                                                           |
|Coxon, Mr. Daniel                                                                 |
|Shorney, Mr. Charles Joseph                                                       |
|Goldschmidt, Mr. George B                                                         |
|Greenfield, Mr. William Bertram                                                   |
|Doling, Mrs. John T (Ada Julia Bone)                                              |
|Kantor, Mr. Sinai                                                                 |
|Petranec, Miss. Matilda                                                           |
|"Petroff, Mr. Pastcho (""Pentcho"")"                                              |
|White, Mr. Richard Frasar                                                         |
|Johansson, Mr. Gustaf Joel                                                        |
|Gustafsson, Mr. Anders Vilhelm                                                    |
|Mionoff, Mr. Stoytcho                                                             |
|Salkjelsvik, Miss. Anna Kristine                                                  |
|Moss, Mr. Albert Johan                                                            |
|Rekic, Mr. Tido                                                                   |
|Moran, Miss. Bertha                                                               |
|Porter, Mr. Walter Chamberlain                                                    |
|Zabour, Miss. Hileni                                                              |
|Barton, Mr. David John                                                            |
|Jussila, Miss. Katriina                                                           |
|Attalah, Miss. Malake                                                             |
|Pekoniemi, Mr. Edvard                                                             |
|Connors, Mr. Patrick                                                              |
|Turpin, Mr. William John Robert                                                   |
|Baxter, Mr. Quigg Edmond                                                          |
|Andersson, Miss. Ellis Anna Maria                                                 |
|Hickman, Mr. Stanley George                                                       |
|Moore, Mr. Leonard Charles                                                        |
|Nasser, Mr. Nicholas                                                              |
|Webber, Miss. Susan                                                               |
|White, Mr. Percival Wayland                                                       |
|Nicola-Yarred, Master. Elias                                                      |
|McMahon, Mr. Martin                                                               |
|Madsen, Mr. Fridtjof Arne                                                         |
|Peter, Miss. Anna                                                                 |
|Ekstrom, Mr. Johan                                                                |
|Drazenoic, Mr. Jozef                                                              |
|Coelho, Mr. Domingos Fernandeo                                                    |
|Robins, Mrs. Alexander A (Grace Charity Laury)                                    |
|Weisz, Mrs. Leopold (Mathilde Francoise Pede)                                     |
|Sobey, Mr. Samuel James Hayden                                                    |
|Richard, Mr. Emile                                                                |
|Newsom, Miss. Helen Monypeny                                                      |
|Futrelle, Mr. Jacques Heath                                                       |
|Osen, Mr. Olaf Elon                                                               |
|Giglio, Mr. Victor                                                                |
|Boulos, Mrs. Joseph (Sultana)                                                     |
|Nysten, Miss. Anna Sofia                                                          |
|Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)                              |
|Burke, Mr. Jeremiah                                                               |
|Andrew, Mr. Edgardo Samuel                                                        |
|Nicholls, Mr. Joseph Charles                                                      |
|"Andersson, Mr. August Edvard (""Wennerstrom"")"                                  |
|"Ford, Miss. Robina Maggie ""Ruby"""                                              |
|"Navratil, Mr. Michel (""Louis M Hoffman"")"                                      |
|Byles, Rev. Thomas Roussel Davids                                                 |
|Bateman, Rev. Robert James                                                        |
|Pears, Mrs. Thomas (Edith Wearne)                                                 |
|Meo, Mr. Alfonzo                                                                  |
|van Billiard, Mr. Austin Blyler                                                   |
|Olsen, Mr. Ole Martin                                                             |
|Williams, Mr. Charles Duane                                                       |
|"Gilnagh, Miss. Katherine ""Katie"""                                              |
|Corn, Mr. Harry                                                                   |
|Smiljanic, Mr. Mile                                                               |
|Sage, Master. Thomas Henry                                                        |
|Cribb, Mr. John Hatfield                                                          |
|"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"                            |
|Bengtsson, Mr. John Viktor                                                        |
|Calic, Mr. Jovo                                                                   |
|Panula, Master. Eino Viljami                                                      |
|"Goldsmith, Master. Frank John William ""Frankie"""                               |
|Chibnall, Mrs. (Edith Martha Bowerman)                                            |
|Skoog, Mrs. William (Anna Bernhardina Karlsson)                                   |
|Baumann, Mr. John D                                                               |
|Ling, Mr. Lee                                                                     |
|Van der hoef, Mr. Wyckoff                                                         |
|Rice, Master. Arthur                                                              |
|Johnson, Miss. Eleanor Ileen                                                      |
|Sivola, Mr. Antti Wilhelm                                                         |
|Smith, Mr. James Clinch                                                           |
|Klasen, Mr. Klas Albin                                                            |
|Lefebre, Master. Henry Forbes                                                     |
|Isham, Miss. Ann Elizabeth                                                        |
|Hale, Mr. Reginald                                                                |
|Leonard, Mr. Lionel                                                               |
|Sage, Miss. Constance Gladys                                                      |
|Pernot, Mr. Rene                                                                  |
|Asplund, Master. Clarence Gustaf Hugo                                             |
|Becker, Master. Richard F                                                         |
|Kink-Heilmann, Miss. Luise Gretchen                                               |
|Rood, Mr. Hugh Roscoe                                                             |
|"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"                               |
|"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"                                 |
|Bourke, Mr. John                                                                  |
|Turcin, Mr. Stjepan                                                               |
|Pinsky, Mrs. (Rosa)                                                               |
|Carbines, Mr. William                                                             |
|Andersen-Jensen, Miss. Carla Christine Nielsine                                   |
|Navratil, Master. Michel M                                                        |
|Brown, Mrs. James Joseph (Margaret Tobin)                                         |
|Lurette, Miss. Elise                                                              |
|Mernagh, Mr. Robert                                                               |
|Olsen, Mr. Karl Siegwart Andreas                                                  |
|"Madigan, Miss. Margaret ""Maggie"""                                              |
|"Yrois, Miss. Henriette (""Mrs Harbeck"")"                                        |
|Vande Walle, Mr. Nestor Cyriel                                                    |
|Sage, Mr. Frederick                                                               |
|Johanson, Mr. Jakob Alfred                                                        |
|Youseff, Mr. Gerious                                                              |
|"Cohen, Mr. Gurshon ""Gus"""                                                      |
|Strom, Miss. Telma Matilda                                                        |
|Backstrom, Mr. Karl Alfred                                                        |
|Albimona, Mr. Nassef Cassem                                                       |
|"Carr, Miss. Helen ""Ellen"""                                                     |
|Blank, Mr. Henry                                                                  |
|Ali, Mr. Ahmed                                                                    |
|Cameron, Miss. Clear Annie                                                        |
|Perkin, Mr. John Henry                                                            |
|Givard, Mr. Hans Kristensen                                                       |
|Kiernan, Mr. Philip                                                               |
|Newell, Miss. Madeleine                                                           |
|Honkanen, Miss. Eliina                                                            |
|Jacobsohn, Mr. Sidney Samuel                                                      |
|Bazzani, Miss. Albina                                                             |
|Harris, Mr. Walter                                                                |
|Sunderland, Mr. Victor Francis                                                    |
|Bracken, Mr. James H                                                              |
|Green, Mr. George Henry                                                           |
|Nenkoff, Mr. Christo                                                              |
|Hoyt, Mr. Frederick Maxfield                                                      |
|Berglund, Mr. Karl Ivar Sven                                                      |
|Mellors, Mr. William John                                                         |
|"Lovell, Mr. John Hall (""Henry"")"                                               |
|Fahlstrom, Mr. Arne Jonas                                                         |
|Lefebre, Miss. Mathilde                                                           |
|Harris, Mrs. Henry Birkhardt (Irene Wallach)                                      |
|Larsson, Mr. Bengt Edvin                                                          |

**Run this code:**

In [29]:
df = df.withColumn('Title',regexp_extract(col("Name"),"([A-Za-z]+)\.",1))
df.createOrReplaceTempView('Data')

**Display the title and count "Title" column:**

In [30]:
df.select('Title').show()

+------+
| Title|
+------+
|    Mr|
|   Mrs|
|  Miss|
|   Mrs|
|    Mr|
|    Mr|
|    Mr|
|Master|
|   Mrs|
|   Mrs|
|  Miss|
|  Miss|
|    Mr|
|    Mr|
|  Miss|
|   Mrs|
|Master|
|    Mr|
|   Mrs|
|   Mrs|
+------+
only showing top 20 rows

In [31]:
df.select('Title').count()

1329

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [32]:
tit = df.select('Title')

In [33]:
tit = spark.sql('select Title,count(Title) as Count from Data group by Title').collect()

In [34]:
print(tit)

[Row(Title='Don', Count=1), Row(Title='Miss', Count=257), Row(Title='Countess', Count=2), Row(Title='Col', Count=4), Row(Title='Rev', Count=9), Row(Title='Lady', Count=2), Row(Title='Master', Count=56), Row(Title='Mme', Count=1), Row(Title='Capt', Count=2), Row(Title='Mr', Count=786), Row(Title='Dr', Count=11), Row(Title='Mrs', Count=186), Row(Title='Sir', Count=2), Row(Title='Jonkheer', Count=2), Row(Title='Mlle', Count=4), Row(Title='Major', Count=3), Row(Title='Ms', Count=1)]

In [35]:
rare_tit = set(['Dr','Rev','Major','Col','Mlle','Capt','Don','Jonkheer','Countess','Ms','Sir','Lady','Mme'])

In [36]:
new_title = {t[0]:t[0]if t[0] not in rare_tit else 'rare' for t in tit}
new_title

{'Don': 'rare',
 'Miss': 'Miss',
 'Countess': 'rare',
 'Col': 'rare',
 'Rev': 'rare',
 'Lady': 'rare',
 'Master': 'Master',
 'Mme': 'rare',
 'Capt': 'rare',
 'Mr': 'Mr',
 'Dr': 'rare',
 'Mrs': 'Mrs',
 'Sir': 'rare',
 'Jonkheer': 'rare',
 'Mlle': 'rare',
 'Major': 'rare',
 'Ms': 'rare'}

**Run the function:**

In [37]:
def impute_title(title):
    return new_title[title]

**Apply the function on "Title" column using UDF:**

In [38]:
from pyspark.sql.functions import * 

imputeudf = udf(lambda z: impute_title(z),StringType())

**Display "Title" from table and group by "Title" column:**

In [39]:
df = df.withColumn('Title',imputeudf('Title'))

In [40]:
df.select('Title').groupBy('Title').count().show()

+------+-----+
| Title|count|
+------+-----+
|  rare|   44|
|  Miss|  257|
|Master|   56|
|    Mr|  786|
|   Mrs|  186|
+------+-----+

## **Preprocessing Age**

**Based on the age mean, you will fill in the missing age values:**

In [41]:
mean_age = spark.sql('select avg(Age) from Data ').collect()

In [42]:
mean_age[0][0]

30.079501879699244

**Fill missing age with age mean:**

In [43]:
df = df.na.fill({'Age':mean_age[0][0]})

## **Preprocessing Embarked**

**Select Embarked, count them, order by count Desc, and save in grouped_Embarked variable:**

In [44]:
grouped_Embarked = df.select('Embarked').groupBy('Embarked').count().orderBy(desc('count'))

**Show groupped_Embarked:**

In [45]:
grouped_Embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get the groupped_Embarked:**

In [46]:
grouped_Embarked.collect()
S='S'

**Fill missing values with grouped_Embarked:**

In [47]:
df =  df.na.fill({'Embarked':S})
df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [48]:
show_em = df.select('Embarked').groupBy('Embarked').count().orderBy(desc('count'))
show_em.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  965|
|       C|  253|
|       Q|  111|
+--------+-----+

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [49]:
df = df.withColumn('Cabin',substring('Cabin',0,1))

**Show the result:**

In [50]:
df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**Create the temporary view:**

In [51]:
df.createOrReplaceTempView('Data')

**Select "Cabin" column, count Cabin column, Group by "Cabin" column, Order By count DESC**

In [52]:
spark.sql('select Cabin,count(Cabin) as CabinCount from Data group by Cabin order by CabinCount desc').show()

+-----+----------+
|Cabin|CabinCount|
+-----+----------+
|    C|        82|
|    B|        77|
|    D|        52|
|    E|        51|
|    A|        23|
|    F|        18|
|    G|         4|
|    T|         1|
| null|         0|
+-----+----------+

**Fill missing values with "U":**

In [53]:
df = df.na.fill({'Cabin':'U'})

In [54]:
df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is frequencyDesc.**

In [55]:
from pyspark.ml.feature import StringIndexer

**StringIndexer(inputCol=None, outputCol=None)**

In [56]:
cat = [c[0] for c in df.dtypes if c[1] == 'string']
cat_indexed = [c + '_index'for c in cat]
cat,cat_indexed,

(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'],
 ['Name_index',
  'Sex_index',
  'Ticket_index',
  'Cabin_index',
  'Embarked_index',
  'Title_index'])

In [57]:
numer = [c[0] for c in df.dtypes if c[1] != 'string']
numer

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [58]:
stringIndexer = StringIndexer(inputCols=cat,outputCols=cat_indexed,handleInvalid='skip')

In [59]:
st = stringIndexer.fit(df).transform(df)
st.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Ticket_index|Sex_index|Embarked_index|Title_index|Cabin_index|Name_index|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|       610.0|      0.0|           0.0|        0.0|        0.0|     525.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|       641.0|      1.0|           1.0|        2.0|        1.0|     559.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|       674.0|      1.0|           0.0|        1.0|        0.0|     634.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|       128.0|      1.0|           0.0|        2.0|        1.0|     596.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|       589.0|      0.0|           0.0|        0.0|        0.0|     474.0|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|       508.0|      0.0|           2.0|        0.0|        0.0|     720.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|       433.0|      0.0|           0.0|        0.0|        4.0|     698.0|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|        19.0|      0.0|           0.0|        3.0|        0.0|     757.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|        44.0|      1.0|           0.0|        2.0|        0.0|     661.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|       169.0|      1.0|           1.0|        2.0|        0.0|     728.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|       382.0|      1.0|           0.0|        1.0|        7.0|     807.0|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|       423.0|      1.0|           0.0|        1.0|        1.0|     520.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|       618.0|      0.0|           0.0|        0.0|        0.0|     809.0|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|         1.0|      0.0|           0.0|        0.0|        0.0|     480.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|       571.0|      1.0|           0.0|        1.0|        0.0|     861.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|       457.0|      1.0|           0.0|        2.0|        0.0|     637.0|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|         8.0|      0.0|           2.0|        3.0|        0.0|     787.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|       455.0|      0.0|           0.0|        0.0|        0.0|     877.0|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|       524.0|      1.0|           0.0|        2.0|        0.0|     860.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|       470.0|      1.0|           1.0|        2.0|        0.0|     696.0|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+
only showing top 20 rows

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

____________________________________________

**Create list comprehension, use StringIndexer to Converting "Sex, Embarked, Title, and Cabin" columns to column name+index like "Title_index":**

**Use Pipline to fit and transform:**

In [60]:
from pyspark.ml import Pipeline

**Drop "Sex, PassengerId, Name, Title, SibSp, Parch, Ticket, Cabin, Embarked" columns**

In [61]:
df_ = df.drop('Sex','PassengerId','Name','Title','SibSp','Ticket','Cabin','Embarked')

**Convert to pandas**

In [62]:
df_pd = df_.toPandas()

**Display result**

In [63]:
df_pd

      Survived  Pclass        Age  Parch     Fare
0            0       3  22.000000      0   7.2500
1            1       1  38.000000      0  71.2833
2            1       3  26.000000      0   7.9250
3            1       1  35.000000      0  53.1000
4            0       3  35.000000      0   8.0500
...        ...     ...        ...    ...      ...
1324         0       2  27.000000      0  13.0000
1325         1       1  19.000000      0  30.0000
1326         0       3  30.079502      2  23.4500
1327         1       1  26.000000      0  30.0000
1328         0       3  32.000000      0   7.7500

[1329 rows x 5 columns]

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None) A feature transformer that merges multiple columns into a vector column.**

**Use VectorAssembler and set InputCols the to "train from first coloumn to end" and set the Output to "features"**

In [64]:
from pyspark.ml.feature import VectorAssembler

**Use VectorAssembler and set the "InputCols" to test all column and set the "Output" to "features":**

In [65]:
df.select([countDistinct(c) for c in df.columns]).toPandas()

,count(DISTINCT PassengerId),count(DISTINCT Survived),count(DISTINCT Pclass),count(DISTINCT Name),count(DISTINCT Sex),count(DISTINCT Age),count(DISTINCT SibSp),count(DISTINCT Parch),count(DISTINCT Ticket),count(DISTINCT Fare),count(DISTINCT Cabin),count(DISTINCT Embarked),count(DISTINCT Title)
0,891,2,3,891,2,89,7,7,681,248,9,3,5

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [66]:
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'
,'Sex_index','Cabin_index','Embarked_index','Title_index']

In [67]:
vecAssem = VectorAssembler(inputCols=features,outputCol='features')

In [68]:
vecAssem.transform(st).show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Ticket_index|Sex_index|Embarked_index|Title_index|Cabin_index|Name_index|            features|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|       610.0|      0.0|           0.0|        0.0|        0.0|     525.0|(9,[0,1,2,4],[3.0...|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|       641.0|      1.0|           1.0|        2.0|        1.0|     559.0|[1.0,38.0,1.0,0.0...|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|       674.0|      1.0|           0.0|        1.0|        0.0|     634.0|[3.0,26.0,0.0,0.0...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|       128.0|      1.0|           0.0|        2.0|        1.0|     596.0|[1.0,35.0,1.0,0.0...|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|       589.0|      0.0|           0.0|        0.0|        0.0|     474.0|(9,[0,1,4],[3.0,3...|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|       508.0|      0.0|           2.0|        0.0|        0.0|     720.0|(9,[0,1,4,7],[3.0...|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|       433.0|      0.0|           0.0|        0.0|        4.0|     698.0|(9,[0,1,4,6],[1.0...|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|        19.0|      0.0|           0.0|        3.0|        0.0|     757.0|[3.0,2.0,3.0,1.0,...|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|        44.0|      1.0|           0.0|        2.0|        0.0|     661.0|[3.0,27.0,0.0,2.0...|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|       169.0|      1.0|           1.0|        2.0|        0.0|     728.0|[2.0,14.0,1.0,0.0...|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|       382.0|      1.0|           0.0|        1.0|        7.0|     807.0|[3.0,4.0,1.0,1.0,...|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|       423.0|      1.0|           0.0|        1.0|        1.0|     520.0|[1.0,58.0,0.0,0.0...|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|       618.0|      0.0|           0.0|        0.0|        0.0|     809.0|(9,[0,1,4],[3.0,2...|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|         1.0|      0.0|           0.0|        0.0|        0.0|     480.0|[3.0,39.0,1.0,5.0...|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|       571.0|      1.0|           0.0|        1.0|        0.0|     861.0|[3.0,14.0,0.0,0.0...|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|       457.0|      1.0|           0.0|        2.0|        0.0|     637.0|[2.0,55.0,0.0,0.0...|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|         8.0|      0.0|           2.0|        3.0|        0.0|     787.0|[3.0,2.0,4.0,1.0,...|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|       455.0|      0.0|           0.0|        0.0|        0.0|     877.0|(9,[0,1,4],[2.0,3...|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|       524.0|      1.0|           0.0|        2.0|        0.0|     860.0|[3.0,31.0,1.0,0.0...|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|       470.0|      1.0|           1.0|        2.0|        0.0|     696.0|[3.0,30.079501879...|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+---------+--------------+-----------+-----------+----------+--------------------+
only showing top 20 rows

**Use RandomForestClassifier to fit and transform then display "prediction, Survived, features" columns**

In [69]:
x_train,x_test = df.randomSplit([0.8,0.2],42)

In [70]:
x_train.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Title: string (nullable = true)

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [71]:
from pyspark.ml.classification import RandomForestClassifier

In [72]:
rfc = RandomForestClassifier(featuresCol='features',labelCol='Survived')

In [73]:
stages = [stringIndexer,vecAssem,rfc]
pipeline = Pipeline(stages=stages)

In [74]:
pipelineModel = pipeline.fit(x_train)

In [75]:
predDF = pipelineModel.transform(x_test)

In [76]:
predDF.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Title: string (nullable = true)
 |-- Ticket_index: double (nullable = false)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)
 |-- Title_index: double (nullable = false)
 |-- Cabin_index: double (nullable = false)
 |-- Name_index: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

**Use the model to predict**

In [77]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [78]:
rf_evaluator = MulticlassClassificationEvaluator(metricName='accuracy',labelCol='Survived',predictionCol='prediction')

In [79]:
rf_evaluator.evaluate(predDF)

0.8391608391608392

In [86]:
import pyspark.sql.functions as F

In [80]:
prediction = pipelineModel.transform(x_test)

In [81]:
prediction.select('PassengerId').show()

+-----------+
|PassengerId|
+-----------+
|        464|
|        474|
|        477|
|        480|
|        485|
|        490|
|        497|
|        504|
|        505|
|        507|
|        512|
|        515|
|        518|
|        519|
|        537|
|        549|
|        555|
|        558|
|        572|
|        577|
+-----------+
only showing top 20 rows

In [87]:
prediction.select('PassengerId','prediction').where(F.col('PassengerId')==558).show()

+-----------+----------+
|PassengerId|prediction|
+-----------+----------+
|        558|       0.0|
+-----------+----------+

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**